@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cambay:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:wght@500&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
.navbar {
    background-color: #030a24; /* Change the background color */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Cambay", sans-serif;
}

.logo {
    float: left;
    margin-right: auto;
}

.nav-link {
    margin-right: 10px; /* Adjust as needed */
    color: #000000;
}

.navbar h1{
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

.navbar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
}



