@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cambay:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:wght@500&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
.navbar {
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Cambay", sans-serif;
}

body{
    background: gray;
    width: 100%
}

.logo {
    float: left;
    margin-right: auto;
}

.nav-link {
    margin-right: 10px; /* Adjust as needed */
}

.navbar h1{
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

.navbar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.navbar-brand {
    color: #ff0000; /* Change the color of the brand text */
}

.nav-link {
    color: #000000; /* Change the color of the navigation links */
}

#upBtn{
    position: absolute;
    height: 125px;
    width: 125px;
    transition: all 1s;
    border: none;
    background-color: transparent;
    left: 1000px;
    top: 205px;
}

#upBtn:hover{
    transform: translateY(-10px);
}

#downBtn{
    position: absolute;
    height: 125px;
    width: 125px;
    transition: all 1s;
    border: none;
    background-color: transparent;
    top: 205px;
    left: 1150px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

#downBtn:hover{
    transform: translateY(10px);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5)
}

#stopBtn{
    height: 100px;
    width: 100px;
    transition: all 1s;
    border: none;
    background-color: transparent;
}

#stopImg{
    position: absolute;
    width: 140px;
    height: 140px;
    transition: all 1s;
    top: 275px;
    left: 850px;
}

#stopImg:hover{
    transform: scale(1.1)
}

#leftBtn{
    position: absolute;
    height: 125px;
    width: 125px;
    transition: all 1s;
    border: none;
    background-color: transparent;
    left: 1000px;
    top: 350px;
}

#leftBtn:hover{
    transform: translateX(-10px);
}

#rightBtn{
    position: absolute;
    height: 125px;
    width: 125px;
    transition: all 1s;
    border: none;
    background-color: transparent;
    top: 350px;
    left: 1150px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

#rightBtn:hover{
    transform: translateX(10px);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5)
}

.reset{
    position: absolute;
    border-radius: 50px;
    color: #000000;
    padding: 20px;
    width: 140px;
    height: 60px;
    left: 1000px;
    top: 580px;
    font-weight: bold;
    font-size: 20px;   
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px #000000;
    transition: all 1s;
    
}

.reset:hover{
    transform: translateY(-10px);
}

.sample{
    position: absolute;
    margin-left: 100px;
    border-radius: 50px;
    background-color: linear-gradient(to top, #09203f 0%, #537895 100%);
    font-weight: bold;
    color: #000000;
    width: 140px;
    height: 60px;
    font-size: 20px;   
    left: 1050px;
    top: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px #000000;
    transition: all 1s;
}

.sample:hover{
    transform: translateY(-10px);
}
